.eleven-section-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 160px 122px 160px 123px;
    overflow: hidden;
}
.eleven-section-right-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.eleven-section-part1{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    gap: 15px;
}
.eleven-section-inner-part1{
    width: 100%;
}
.eleven-section-inner-part1 p{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}
.eleven-section-inner-part2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.eleven-section-inner-part2 h2{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;
    color: rgba(255, 255, 255, 1); 
}
.eleven-section-inner-part2 h2 span{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;
    color: rgba(0, 243, 182, 1);
}
.eleven-section-part2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.eleven-section-part2-1{
     width: 100%;
     border-radius: 20.5px;
     padding: 21px 0px 22px 37px;
     border: 1px solid rgba(0, 243, 182, 1)
}
.eleven-section-part2-1 p{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.eleven-section-part2-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.eleven-section-part2-inner-part1{
    width: 100%;
    padding-right: 121px;
}
.eleven-section-part2-inner-part1 p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.eleven-section-part2-inner-part2{
     width: 100%;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
}
.eleven-section-part2-inner-part-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 45px;
}
.eleven-section-part2-inner-part-list-d{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.eleven-section-part2-inner-part-para{
     width: 100%;
     padding: 0px 37px 17px 37px;
}
.eleven-section-part2-inner-part-para p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: justified;
     color: rgba(255, 255, 255, 1);  
}
.eleven-section-part2-inner-part-pic{
     padding-right: 55px;
} 
.eleven-section-bottom-part{
    width: 511px;
    
}

@media screen and (min-width:800px) and (max-width:1100px) {
    .eleven-section-d{
        padding: 80px 62px 80px 63px;
    }
    .eleven-section-inner-part2 h2{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 56x;
        text-align: left;
        color: rgba(255, 255, 255, 1); 
    }
    .eleven-section-inner-part2 h2 span{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 56px;
        text-align: left;
        color: rgba(0, 243, 182, 1);
    }
    .eleven-section-part2-1{
        width: 350px;
        border-radius: 20.5px;
        padding: 15px 0px 17px 20px;
        border: 1px solid rgba(0, 243, 182, 1)
   }
    .eleven-section-part2-1 p{
        font-size: 14px;
    }
    .eleven-section-part2-inner-part1{
        width: 100%;
        padding-right: 100px;
    }
     .eleven-section-part2-inner-part-list-d{
        width: 400px;
        height: 25px;
     }
    .eleven-section-part2-inner-part-para p{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: justified;
         color: rgba(255, 255, 255, 1);  
    }
    .eleven-section-part2-inner-part-pic img{
         padding-right: 55px;
    } 
    .eleven-section-bottom-part img{
        width: 511px;
        /* margin-right: 200px; */
        
    }
}


@media screen and (min-width:500px) and (max-width:800px) {
    .eleven-section-inner-part1 p{
        font-size: 18px;
    }
    .eleven-section-d{
         flex-direction: column;
        padding: 50px 62px 50px 103px;
    }
    .eleven-section-inner-part2 h2{
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 56x;
        text-align: left;
        color: rgba(255, 255, 255, 1); 
    }
    .eleven-section-inner-part2 h2 span{
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 56px;
        text-align: left;
        color: rgba(0, 243, 182, 1);
    }
    .eleven-section-part2-1{
        width: 100%;
        max-width: 540px;
        border-radius: 20.5px;
        padding: 20px 0px 20px 37px;
        border: 1px solid rgba(0, 243, 182, 1)
   }
    .eleven-section-part2-1 p{
        font-size: 18px;
    }
    .eleven-section-part2-inner-part1{
        width: 100%;
        padding-right: 80px;
    }
     .eleven-section-part2-inner-part-list-d{
        width: 100%;
        height: 25px;
     }
    .eleven-section-part2-inner-part-para p{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: justified;
         color: rgba(255, 255, 255, 1);  
    }
    .eleven-section-part2-inner-part-pic img{
         padding-right: 55px;
    } 
    .eleven-section-bottom-part img{
        width: 100%;
        /* margin-right: 200px; */
        
    }
}

@media screen and (max-width:500px) {
    .eleven-section-inner-part1 p{
        font-size: 14px;
    }
    .eleven-section-d{
         flex-direction: column;
        padding: 20px 15px 20px 30px;
    }
    .eleven-section-inner-part2 h2{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 46px;
        text-align: left;
        color: rgba(255, 255, 255, 1); 
    }
    .eleven-section-inner-part2 h2 span{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 46px;
        text-align: left;
        color: rgba(0, 243, 182, 1);
    }
    .eleven-section-part2-1{
        width: 100%;
        max-width: 540px;
        border-radius: 20.5px;
        padding: 10px 0px 10px 20px;
        border: 1px solid rgba(0, 243, 182, 1)
   }
    .eleven-section-part2-1 p{
        font-size: 14px;
    }
    .eleven-section-part2-inner-part1{
        width: 100%;
        padding-right: 20px;
    }
    .eleven-section-part2-inner-part1 p{
        font-size: 14px;
    }
     .eleven-section-part2-inner-part-list-d{
        width: 100%;
        height: 25px;
     }
    .eleven-section-part2-inner-part-para p{
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: justified;
         color: rgba(255, 255, 255, 1);  
    }
    .eleven-section-part2-inner-part-para{
        width: 100%;
        padding: 0px 17px 17px 0px;
    }
   .eleven-section-part2-inner-part-para p{
       font-family: Poppins;
       font-size: 14px; 
   }
   .eleven-section-part2-inner-part-pic img{
       width: 30px;
        padding-right: 15px;
        padding-bottom: 15px;
   } 
    .eleven-section-bottom-part img{
        padding-left: 100px;
      width: 411px;
        
    }
}