.fifth-section-d{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    /* height: 640px; */
    padding: 160px 122px 160px 124px;
    /* background: peru; */
}
.fifth-section-right-part{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 550px;
     /* height: 531px; */
     gap: 15px;
}
.part-1{
   width: 100px;
   font-family: Poppins;
   font-size: 22px;
   font-weight: 500;
   line-height: 28.11px;
   text-align: justified;
   color: rgba(255, 255, 255, 1); 
}
.part-2{
    width: 635px;
    /* height: 134px; */
}
.part-2 h2{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}
.part-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 556px;
    height: 238px;
    gap: 50px;
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.part-4-heading h2{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.part-5-btn{
    width: 177px;
    height: 59px;
    padding: 18px 44px ;
    gap: 10px;
    border-radius: 38.41px 0px 38.41px 0px;
    border: 0.77px solid rgba(255, 255, 255, 1);
    margin-top: 50px;
}
.part-5-btn button{
    border: none;
    outline: none;
    background: none;
    width: 89px;
    height: 23px;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);
}
.fifth-section-left-part{
    width: 100%;
}

@media screen and (min-width:1280px) and (max-width:1450px) {
    .fifth-section-d{
        width: 100%;
        padding: 120px 100px 120px 102px;
    }
    .fifth-section-right-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 480px;
        gap: 15px;
   }
   .part-2{
    width: 450px;
    /* height: 134px; */
}
.part-2 h2{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}

/*  */

.part-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 238px;
    gap: 50px;
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.part-4-heading h2{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.fifth-section-left-part{
     width: 500px;
}
}


@media screen and (min-width:1100px) and (max-width:1280px) {
    .fifth-section-d{
        width: 100%;
        padding: 120px 100px 120px 102px;
    }
    .fifth-section-right-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        height: 480px;
        gap: 15px;
   }
   .part-1{
    width: 100px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
 }
   .part-2{
    width: 400px;
    height: 114px;
}
.part-2 h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 67px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}

/*  */

.part-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 238px;
    gap: 50px;
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.part-4-inner-pic img{
    width: 50px;
}
.part-4-heading h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.fifth-section-left-part img{
     width: 100%;
}
}

@media screen and (min-width:960px) and (max-width:1100px) {
    .fifth-section-d{
        width: 100%;
        padding: 100px 60px 100px 62px;
    }
    .fifth-section-right-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 450px;
        /* gap: 15px; */
   }
   .part-1{
    width: 100px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
 }
   .part-2{
    width: 350px;
    height: 114px;
}
.part-2 h2{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}

/*  */

.part-4{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 300px;
    height: 180px;
    /* gap: 50px; */
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.part-4-inner-pic img{
    width: 50px;
}
.part-4-heading h2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.fifth-section-left-part img{
     width: 600px;
}
.part-5-btn{
    width: 150px;
    height: 59px;
    padding: 18px 33px ;
    gap: 10px;
    border-radius: 38.41px 0px 38.41px 0px;
    border: 0.77px solid rgba(255, 255, 255, 1);
    margin-top: 20px;
}
.part-5-btn button{
    border: none;
    outline: none;
    background: none;
    width: 89px;
    height: 23px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);
}
}
@media screen and (min-width:500px) and (max-width:960px) {
    .fifth-section-d{
        flex-direction: column;
        width: 100%;
        padding: 40px 30px 40px 62px;
    }
    .fifth-section-right-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        /* height: 450px; */
        /* gap: 15px; */
   }
   .part-1{
    width: 100px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
 }
   .part-2{
    width: 100%;
    height: 114px;
}
.part-2 h2{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}

/*  */

.part-4{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 180px;
    /* gap: 50px; */
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
/* .part-4-inner-pic img{
    width: 50px;
} */
.part-4-heading h2{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.fifth-section-left-part img{
     width: 100%;
}
.part-5-btn{
    width: 177px;
    height: 59px;
    padding: 18px 44px ;
    gap: 10px;
    border-radius: 38.41px 0px 38.41px 0px;
    border: 0.77px solid rgba(255, 255, 255, 1);
    margin-top: 50px;
}
.part-5-btn button{
    border: none;
    outline: none;
    background: none;
    width: 89px;
    height: 23px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);
}
}
@media screen and (min-width:312px) and (max-width:500px) {
    .fifth-section-d{
        flex-direction: column;
        width: 100%;
        padding: 20px 15px 20px 15px;
    }
    .fifth-section-right-part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 450px;
        /* gap: 15px; */
   }
   .part-1{
    width: 100px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
 }
   .part-2{
    width: 100%;
    height: 114px;
}
.part-2 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
}
.part-2 h2 span{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);     
}
.part-3{
    width: 100%;
    height: 56px;  
}
.part-3 p{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1); 
}

/*  */

.part-4{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 180px;
    /* gap: 50px; */
}
.part-4-inner-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.part-4-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
/* .part-4-inner-pic img{
    width: 50px;
} */
.part-4-heading h2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.11px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);

}
.part-4-para p{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: justified;
    color: rgba(255, 255, 255, 1);
    
}
.fifth-section-left-part{
    padding-top: 100px;
}
.fifth-section-left-part img{
     width: 100%;
}
.part-5-btn{
    width: 100%;
    max-width: 150px;
    height: 50px;
    padding: 18px 44px;
    gap: 10px;
    border-radius: 38.41px 0px 38.41px 0px;
    border: 0.77px solid rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 50px;
}
.part-5-btn button{
    border: none;
    outline: none;
    background: none;
    width: 89px;
    height: 23px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: justified;
    color: rgba(0, 243, 182, 1);
}
}